@font-face {
	font-family: "CaviarDreams";
	src: url(./assets/ttf/CaviarDreams.ttf) format("truetype");
}
@font-face {
	font-family: "CaviarDreamsBold";
	src: url(./assets/ttf/CaviarDreams_Bold.ttf) format("truetype");
}
@keyframes fadein {
	from { opacity: 0.0; }
	to { opacity: 1.0; }
}

a:link { color: #FFFFFF; text-decoration: none; }
a:visited { color: #FFFFFF; text-decoration: none; }
a:hover { color: #FFFFFF; font-weight: bold; }
a:active { color: #FFFFFF; text-decoration: none; }


h1.cdtitle {
	font-family: "CaviarDreams", Courier;
	font-size: 700%;
	font-weight: normal;
	color: #FFFFFF;
	animation-name: slideright;
	animation-duration: 3s;
}
p.cdbody { 
	font-family: "CaviarDreams", Courier;
	font-size: 200%;
	color: #FFFFFF;
	opacity: 0.0;
	animation-name: fadein;	<hr style="margin: 0;">
	animation-duration: 2s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
p.cdfooter { 
	font-family: "CaviarDreams", Courier;
	font-size: 1vw;
	color: #FFFFFF;
	opacity: 0.0;
	animation-name: fadein;
	animation-duration: 2s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
p { 
	font-family: "CaviarDreams", Courier;
	font-size: 100%;
	color: #FFFFFF;
	opacity: 0.0;
	animation-name: fadein;
	animation-duration: 2s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}
h1 {
	font-family: "CaviarDreamsBold", Courier;
	font-size: 200%;
	font-weight: normal;
	color: #FFFFFF;
	animation-name: fadein;
	animation-duration: 3s;
	margin: 0;
}
h2 {
	font-family: "CaviarDreams", Courier;
	font-size: 100%;
	font-weight: normal;
	color: #EAEAEA;
	animation-name: fadein;
	animation-duration: 3s;
	margin: 0;
}
hr {
	opacity: 0.0;
	animation-name: fadein;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}

td.pagetitlesback {
	text-align: right;
	vertical-align: top;
}

      #raincanvas {
        position: absolute;
        width: 99%;
        height: 100%;
        top: 0px;
      }
      #raincanvas canvas, #overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
      }